<div class='row'>
  <div class='col-sm-3'>
    <h2>
      <strong>Team:</strong>
      <%= @team.name %>
    </h2>
  </div>

  <div class='col-sm-4'>
    <%= render partial: 'tasks_list', locals: {tasks: @team.tasks} %>
    <% if can? :create, Task %>
      <%= button_link 'Add task',  new_team_task_path(@team), 'btn-info' %>
    <% end %>
  </div>

  <div class='col-sm-5'>
    <%= render 'mutants_list' %>
  </div>

</div>
<br/>

<%= show_page_bottom_links(@team) %>
